<div class="container" id="contentRegis">
  <mat-card>
    <mat-card-title>Đăng ký tài khoản</mat-card-title>
    <mat-card-content>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Thông tin cá nhân</ng-template>
                  <mat-form-field>
                    <input matInput placeholder="Nhập họ tên" formControlName="TenKH" required>
                  </mat-form-field>
                  &nbsp;&nbsp;
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" formControlName="NgaySinh" placeholder="Chọn ngày sinh">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  &nbsp;&nbsp;
                  <mat-form-field>
                    <input matInput placeholder="Địa chỉ email" formControlName="Email">
                  </mat-form-field>
                  &nbsp;&nbsp;
                  <mat-form-field>
                    <input matInput placeholder="Nhập số điện thoại" formControlName="SoDienThoai" required>
                  </mat-form-field>
                <div>
                  <button class="btn btn-primary" matStepperNext [disabled]="!firstFormGroup.valid">Tiếp theo</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Địa chỉ</ng-template>
                <mat-form-field>
                  <input matInput placeholder="Nhập địa chỉ của bạn" formControlName="DiaChi" required>
                </mat-form-field>
                &nbsp;&nbsp;
                <mat-form-field>
                  <input matInput placeholder="Chọn tỉnh , thành phố" formControlName="TinhTP" required>
                </mat-form-field>
                <div>
                  <button class="btn btn-default" matStepperPrevious>Back</button>
                  &nbsp;&nbsp;
                  <button  [disabled]="!secondFormGroup.valid" class="btn btn-primary" matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <form [formGroup]="lastFormGroup">
                  <ng-template matStepLabel>Cuối cùng</ng-template>
                  <mat-form-field>
                    <input matInput type="password" placeholder="Nhập mật khẩu" formControlName="MatKhau" required>
                  </mat-form-field>
                  &nbsp;&nbsp;
                  <mat-form-field>
                    <input matInput type="password" placeholder="Nhập lại mật khẩu" formControlName="NhapLaiMatKhau" required>
                  </mat-form-field>
                  <div>
                    <button class="btn btn-default" matStepperPrevious>Back</button>
                    &nbsp;&nbsp;
                    <button  [disabled]="!lastFormGroup.valid" class="btn btn-primary" (click)="save()">Đăng ký</button>
                  </div>
                </form>
            </mat-step>
          </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</div>