<mat-card id="cartParent">
    <mat-card-title>
        <div class="row">
            <div class="col-md-6">{{categoryName}} </div>
            <div class="col-md-2"></div>
            <div class="col-md-2" style="text-align: right">
                <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="sortMenu" ngbDropdownToggle>
                            Sắp xếp</button>
                        <!-- Missing tag added below -->
                        <div class="dropdown-menu" aria-labelledby="sortMenu" ngbDropdownMenu>
                            <button class="dropdown-item" 
                                    *ngFor="let sortOrder of sortOrders" 
                                    (click)="ChangeSortOrder(sortOrder)">{{sortOrder}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-primary" (click)="viewer='list'"><span class="fa fa-list-ul"></span></button>
                <button class="btn btn-outline-primary" (click)="viewer='table'"><span class="fa fa-table"></span></button>
            </div>
        </div>
    </mat-card-title>
    <mat-card-content  *ngIf="isLoading">
        <br/>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col align-self-center">
                <app-looping-rhombuses-spinner
                [animationDuration]="2500"
                [rhombusSize]="15"
                [color]="'#4286f4'"
                ></app-looping-rhombuses-spinner>
                  
            </div>
            <div class="col-md-4"></div>
        </div>
        <br/>
    </mat-card-content>
    <mat-card-content  class="container" *ngIf="!isLoading">
        <!-- chọn show bảng -->
        <div class="row" *ngIf="viewer=='table'">
            <div class="col-md-4" *ngFor="let item of lstVatTu">
                <mat-card id="imageNew" style="margin-top: 15px;">
                    <mat-card-content>
                        <div class="text-center">
                            <a routerLink="/chi-tiet-hang-hoa/{{item.MaVatTu}}" title="{{item.TenVatTu}}"><img src="data:image/JPEG;base64,{{item.Avatar}}" class="img-fluid" style="padding-top:20px;max-height: 90px!important " width="150" alt="{{item.TenVatTu}}"></a>
                        </div>
                    </mat-card-content>
                    <mat-card-footer style="text-align: left !important;min-width: 30px;margin-right: 0px;margin-left: 0px;font-size: 1.2em;padding-top:20px; ">
                        <div class="row"> 
                            <span style="font-size: 13px" (click)="redirectDetail(item)" id="tenVatTu">{{display(item.TenVatTu)}}</span>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-9">
                                <span id="monney" style="color: #F57223;">{{item.DonGia | number}} ₫</span>
                                <br/>
                                <span style="font-size: 13px">Tồn kho :&nbsp;<span class="badge badge-light">{{item.SoTon}}</span> </span>
                            </div>
                            <div class="col-md-3">
                                    <img src="/assets/cart.png" (click)="addToCart(item)" id="pointer"  title="Thêm vào giỏ hàng"/>
                                <!-- <span (click)="addToCart(item)" id="pointer" title="Thêm vào giỏ hàng" class="fa fa-shopping-basket fa-2x"></span> -->
                            </div>
                        </div>
                        <div class="row" style="font-size: 15px;margin-left: 30%;">
                            <ngb-rating [rate]="item.selectFavorite"></ngb-rating>
                        </div>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
        <!-- chọn show danh sách -->
        <div class="container" *ngIf="viewer=='list'">
                <div class="row"  *ngFor="let item of lstVatTu">
                    <div class="col-md-3" style="text-align: center"><a routerLink="/chi-tiet-hang-hoa/{{item.MaVatTu}}"  title="{{item.TenVatTu}}"><img src="data:image/JPEG;base64,{{item.Avatar}}" class="img-thumbnail" id="zoomList" alt="{{item.TenVatTu}}"></a></div>
                    <div class="col" style="margin-top: 30px;">
                        <span style="font-size: 1.3em;">{{item.TenVatTu}}</span>
                        <br/>
                        <span id="monney" style="color: #F57223;">{{item.DonGia | number}} ₫</span>
                        <br/>
                        <span style="font-size: 13px">Tồn kho :&nbsp;<span class="badge badge-light">{{item.SoTon}}</span> </span>
                        <div class="row" style="font-size: 15px;margin-left: 1%;">
                            <ngb-rating [rate]="item.selectFavorite"></ngb-rating>
                        </div>
                        <button (click)="addToCart(item)" class="btn btn-primary">Thêm vào giỏ hàng</button>
                    </div>
                </div>
            </div>
    </mat-card-content>
    <mat-card-footer> 
        <mat-paginator  [length]="length"
                        [pageIndex]="pageIndex"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="[9,12,18]"
                        [showFirstLastButtons]="true"
                        (page)="pageEvent = getServerData($event,orderBy,sortType)">
        </mat-paginator>
    </mat-card-footer>
  </mat-card>