<mat-card id="cartParent">
  <mat-card-title>
      <div class="row">
          <div class="col-md-6">Sản phẩm mới</div>
          <div class="col-md-2"></div>
          <div class="col-md-2" style="text-align: right">
              <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                  <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="sortMenu" ngbDropdownToggle>
                          Sắp xếp</button>
                      <!-- Missing tag added below -->
                      <div class="dropdown-menu" aria-labelledby="sortMenu" ngbDropdownMenu>
                          <button class="dropdown-item" 
                                  *ngFor="let sortOrder of sortOrders" 
                                  (click)="ChangeSortOrder(sortOrder)">{{sortOrder}}
                          </button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-2">
              <button class="btn btn-outline-primary" (click)="viewer='list'"><span class="fa fa-list-ul"></span></button>
              <button class="btn btn-outline-primary" (click)="viewer='table'"><span class="fa fa-table"></span></button>
          </div>
      </div>
  </mat-card-title>
  <br/>
  <mat-card-content  *ngIf="isLoading">
    <br/>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col align-self-center">
            <app-looping-rhombuses-spinner
            [animationDuration]="2500"
            [rhombusSize]="15"
            [color]="'#F57223'"
            ></app-looping-rhombuses-spinner>
              
        </div>
        <div class="col-md-4"></div>
    </div>
    <br/>
  </mat-card-content>
  <mat-card-content class="container" *ngIf="!isLoading">
    <!-- chọn show bảng -->
      <div class="row" *ngIf="viewer=='table'">
          <div class="col-md-4" *ngFor="let item of lstVatTu">
              <mat-card id="imageNew" style="margin-top: 15px;">
                  <mat-card-content>
                      <div class="text-center">
                          <a routerLink="/chi-tiet-hang-hoa/{{item.MaVatTu}}" title="{{item.TenVatTu}}"><img src="data:image/JPEG;base64,{{item.Avatar}}" class="img-fluid" style="padding-top:20px;max-height: 90px!important " width="150" alt="{{item.TenVatTu}}"></a>
                      </div>
                  </mat-card-content>
                  <mat-card-footer>
                        <div class="row" style="height: 52px;"> 
                            <span style="color:  rgb(66, 132, 255) !important;font-size: 14px;text-align: left !important; padding-left: 20px; padding-top: 10px;padding-right: 15px" (click)="redirectDetail(item)" id="tenVatTu">{{item.MaVatTu}} - {{display(item.TenVatTu)}}</span>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <span id="monney" *ngIf="item.DonGiaKhuyenMai===0" style="font-size: 14px;text-align: left !important; padding-left: 10px; padding-top: 10px;color: #F57223; font-weight: bold">{{item.DonGia | number}} ₫</span>
                                <div *ngIf="item.DonGiaKhuyenMai!==0">
                                    <span id="monney" style="font-size: 14px;text-align: left !important; padding-left: 10px; padding-top: 10px;color: red; font-weight: bold;text-decoration: line-through;">{{item.DonGia | number}} ₫</span>
                                    &nbsp;&nbsp;
                                    <span id="monney" style="font-size: 14px;text-align: left !important; padding-left: 10px; padding-top: 10px;color: #F57223; font-weight: bold">{{item.DonGiaKhuyenMai | number}} ₫</span>
                                </div>
                                <br/>
                                <span style="font-size: 14px;text-align: left !important; padding-left: 10px; padding-top: 10px;font-size: 14px">Tồn:&nbsp;<span class="badge badge-light" style="color: #F57223 !important ;font-size: 14px">{{item.SoTon}}</span> </span>
                            </div>
                            <div class="col-md-3" >
                               <span style="padding-top:50px;padding-right:50px;"><img  src="/assets/cartNew.png" (click)="addToCart(item);open(modalCart,item)" id="pointer" title="Thêm vào giỏ hàng"/></span> 
                            </div>
                        </div>
                      <div class="row" style="font-size: 15px;margin-left: 30%;">
                        <ngb-rating [rate]="item.selectFavorite"></ngb-rating>
                      </div>
                  </mat-card-footer>
              </mat-card>
          </div>
      </div>
      <!-- chọn show danh sách -->
      <div class="container" *ngIf="viewer=='list'">
              <div class="row"  *ngFor="let item of lstVatTu">
                  <div class="col-md-3" style="text-align: center"><a routerLink="/chi-tiet-hang-hoa/{{item.MaVatTu}}"  title="{{item.TenVatTu}}"><img src="data:image/JPEG;base64,{{item.Avatar}}" class="img-thumbnail" id="zoomList" alt="{{item.TenVatTu}}"></a></div>
                  <div class="col" style="margin-top: 30px;">
                      <span style="font-size: 1.3em;color:  rgb(66, 132, 255) !important">{{item.MaVatTu}} - {{item.TenVatTu}}</span>
                      <br/>
                      <span id="monney" *ngIf="item.DonGiaKhuyenMai===0" style="font-size: 14px;text-align: left !important; padding-left: 10px; padding-top: 10px;color: #F57223; font-weight: bold">{{item.DonGia | number}} ₫</span>
                        <div *ngIf="item.DonGiaKhuyenMai!==0">
                            <span id="monney" style="font-size: 14px;text-align: left !important; padding-left: 10px; padding-top: 10px;color: red; font-weight: bold;text-decoration: line-through;">{{item.DonGia | number}} ₫</span>
                            &nbsp;&nbsp;
                            <span id="monney" style="font-size: 14px;text-align: left !important; padding-left: 10px; padding-top: 10px;color: #F57223; font-weight: bold">{{item.DonGiaKhuyenMai | number}} ₫</span>
                        </div>
                      <br/>
                      <span style="font-size: 14px;text-align: left !important; padding-left: 10px; padding-top: 10px;font-size: 14px">Tồn:&nbsp;<span class="badge badge-light"  style="color: #F57223 !important">{{item.SoTon}}</span> </span>
                      <div class="row" style="font-size: 14px;margin-left: 1%;">
                        <ngb-rating [rate]="item.selectFavorite"></ngb-rating>
                      </div>
                      <button (click)="addToCart(item)" class="btn btn-primary">Thêm vào giỏ hàng</button>
                  </div>
              </div>
          </div>
  </mat-card-content>
  <mat-card-footer> 
      <mat-paginator  style="font-size: 16px"   [length]="length"
                      [pageIndex]="pageIndex"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="[9,12,18]"
                      [showFirstLastButtons]="true"
                      (page)="getServerData($event)">
      </mat-paginator>
  </mat-card-footer>
</mat-card>
<ng-template #modalCart let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6" style="border-right: solid 1px dimgray">
                <span style="color: darkgreen;font-weight: bold">Đã thêm {{itemSelect.SoLuong}} hàng vào giỏ hàng</span>
                <br/><br/>
                <div class="row">
                    <div class="col-md-4">
                        <img src="data:image/JPEG;base64,{{itemSelect.Avatar}}" height="100px;" width="130px" alt="{{itemSelect.TenVatTu}}">
                    </div>
                    <div class="col-md-8">
                        <span style="font-size: 13px" (click)="redirectDetail(itemSelect)"> {{itemSelect.MaVatTu}}  - {{display(itemSelect.TenVatTu)}}</span>
                        <br/>
                        <span id="monney" style="color: #F57223;">{{itemSelect.DonGia | number}} ₫</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <span><strong>Giỏ hàng của tôi</strong> ( {{vattuSelected.tongSoLuong}} sản phẩm)</span>
                <br/>
                <div class="row">
                   <div class="col align-self-start"> 
                       <span>Tạm tính</span>
                    </div>
                   <div class="col align-self-end">
                        {{vattuSelected.tongTien | number}} ₫
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col align-self-start"> 
                        <strong>Tổng cộng</strong>
                        </div>
                    <div class="col align-self-end">
                        <strong>{{vattuSelected.tongTien | number}} ₫</strong>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col align-self-center">
                        <button (click)="goToCart();d('Cross click')" style="background-color: #F57223" class="btn">Đi đến giỏ hàng</button>
                    </div>
                    <div class="col align-self-center">
                        <button (click)="d('Cross click')" style="background-color: #F57223" class="btn">Tiếp tục mua hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>