<div class="container" style="padding:30px 0px 20px 0px">
    <div class="row">
        <div class="col-md-3">
            <mat-card>
                <span style="font-size: 20px;">Danh sách tin</span>
                <hr/>
                <ul id="sideBar" style="list-style-image: url('../../../assets/iconLi.gif');">
                    <li *ngFor="let item of lstNews" class="list">
                        <a routerLink="/tin-tuc/{{item.Title}}"  id="menuSidebar" style="font-size: 13.5px; padding: 5px;">{{item.Title}}</a>
                    </li>
                </ul>
            </mat-card>
        </div>
        <div class="col-md-9">
           <mat-card>
              <mat-card-title>{{title}}</mat-card-title>
              <hr/>
              <mat-card-content  *ngIf="isLoading">
                  <br/>
                  <div class="row">
                      <div class="col-md-5"></div>
                      <div class="col align-self-center">
                          <app-looping-rhombuses-spinner
                          [animationDuration]="2500"
                          [rhombusSize]="15"
                          [color]="'#F57223'"
                          ></app-looping-rhombuses-spinner>
                      </div>
                      <div class="col-md-4"></div>
                  </div>
                  <br/>
                </mat-card-content>
                <mat-card-content class="container" *ngIf="!isLoading">
                    <div [innerHTML]="htmlStr"></div>
                </mat-card-content>
           </mat-card>
        </div>
    </div>
</div>