<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img [src]="images[0]" alt="Random first slide">
      <div class="carousel-caption">
        <h3>10 seconds between slides...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[1]" alt="Random second slide">
      <div class="carousel-caption">
        <h3>No mouse events...</h3>
        <p>This carousel doesn't pause or resume on mouse events</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[2]"  alt="Random third slide">
      <div class="carousel-caption">
        <h3>No keyboard...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[3]" alt="Random fourth slide">
      <div class="carousel-caption">
        <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <ngb-carousel *ngIf="isLoading">
      <br/>
      <div class="row">
          <div class="col-md-5"></div>
          <div class="col align-self-center">
              <app-looping-rhombuses-spinner
                [animationDuration]="2500"
                [rhombusSize]="15"
                [color]="'#4286f4'"
              ></app-looping-rhombuses-spinner>

          </div>
          <div class="col-md-4"></div>
      </div>
      <br/>
  </ngb-carousel>