#menuBar{
    font-size: 17px;
    color: #007bff;
}

#menuBar:hover{
    color: #F57223;
    text-decoration: underline
}

#navbarTogglerDemo03{
    text-align:center;
}
#sign-out:hover{
    cursor: pointer;
    color: #F57223 !important;
    text-decoration: underline
}


nav ul{
    text-align:center;
}
nav li {
display:inline-block; 
}