<div class="container" style="margin-top: 20px;margin-bottom: 30px;">
    <mat-card id="cartParent">
        <mat-card-title>Thông tin mặt hàng 
        </mat-card-title>
        <mat-card-content  class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- <div class="row  justify-content-around">
                        <div class="col-5">
                            <img *ngIf="vattu.Avatar" src="data:image/JPEG;base64,{{vattu.Avatar}}" class="img-fluid" alt="{{vattu.TenVatTu}}">
                        </div>
                    </div>
                    <br/>
                    <div class="container" *ngIf="vattu.HinhAnhs">
                        <div class="row justify-content-start">
                            <div class="col-3" *ngFor="let image of vattu.HinhAnhs">
                                <img src="http://btsoftvn.com:8080/{{image}}"  class="img-thumbnail" style="max-height: 100px;" alt="{{vattu.TenVatTu}}">
                            </div>
                        </div>
                        
                    </div>             -->
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                </div>
                <div class="col-md-6">
                    <p style="text-align: right;font-weight: bold;font-size: 16px;">{{vattu.TenVatTu}}</p>
                    <hr/>
                    <div class="row">
                        <div class="col-md-3">
                            <span  style="padding-top: 10px;font-size: 20px;">Giá bán : </span>
                        </div>
                        <div class="col-md-5">
                            <span id="monney" style="color: #F57223;font-size: 25px">{{vattu.DonGia | number}} ₫</span>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-3" style="padding-top: 10px;font-size: 20px;">Số lượng : </div>
                        <div class="col-xs-4" style="padding-top: 15px">
                            <div class="input-group">
                                <button (click)="changeSoLuong('giam')"><span class="fa fa-minus"></span></button>
                                <input type="number" [(ngModel)]="soLuong" style="width: 40px;">
                                <button (click)="changeSoLuong('tang')"><span class="fa fa-plus"></span></button>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <button (click)="addToCart(vattu)" style="background-color: #F57223;border: none" title="Thêm vào giỏ hàng" class="btn btn-primary">Thêm vào giỏ hàng</button>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <span style="font-size: 20px">Tồn kho :&nbsp;<span class="badge badge-light" style="color: #F57223 !important">{{vattu.SoTon}}</span> </span>
                        </div>
                    </div>
                    <div class="row" style="font-size: 20px;margin-left: 30%;color: #F57223;">
                        <ngb-rating [rate]="vattu.selectFavorite"></ngb-rating>
                    </div>
                    <br/>
                    <u style="font-size: 20px;">Chi tiết sản phẩm : </u>
                    <br/>
                    <span [innerHTML]="vattu.MoTa"></span>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer> 
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>Mặt hàng liên quan
        </mat-card-title>
        <mat-card-content  *ngIf="isLoading">
                <br/>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col align-self-center">
                        <app-looping-rhombuses-spinner
                        [animationDuration]="2500"
                        [rhombusSize]="15"
                        [color]="'#4286f4'"
                        ></app-looping-rhombuses-spinner>
                          
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <br/>
            </mat-card-content>
        <mat-card-content *ngIf="!isLoading"  class="container">
             <!-- You can now use your library component in app.component.html -->
            <ngx-slick-carousel class="carousel"
                    #slickModal="slick-carousel" 
                    [config]="slideConfig" 
                    (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                <div ngxSlickItem *ngFor="let vattu of vattuRel" class="slide" id="slickAvatar">
                    <a routerLink="/chi-tiet-hang-hoa/{{vattu.MaVatTu}}">
                        <div class="container">
                            <div class="row">
                                <img src="data:image/JPEG;base64,{{vattu.Avatar}}" id="avatarDetail" class="img-fluid" alt="{{vattu.TenVatTu}}">
                            </div>
                            <div class="row">
                                <div style="height: 40px; text-align: center;padding: 0px 5px 0px 5px">{{vattu.TenVatTu}}</div>
                            </div>  
                            <br/>
                            <span style="color: #F57223;">{{vattu.DonGia|number}}</span>
                        </div>
                    </a>
                </div>
            </ngx-slick-carousel>
        </mat-card-content>
    </mat-card>
</div>
