<div class="container" style="margin-top: 20px;margin-bottom: 30px;">
    <mat-card id="cartParent">
        <mat-card-title>Thông tin mặt hàng 
        </mat-card-title>
        <mat-card-content  class="container">
            <div class="row">
                <div class="col-md-6">
                  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                </div>
                <div class="col-md-6">
                    <p style="text-align: left;font-weight: bold;font-size: 16px;">{{vattu.MaVatTu}} - {{vattu.TenVatTu}}</p>
                    <hr/>
                    <div class="row">
                        <div class="col-md-3">
                            <span  style="padding-top: 10px;font-size: 20px;">Giá lẻ: </span>
                        </div>
                        <div class="col-md-5">
                            <span id="monney" style="color: #F57223;font-size: 25px">{{vattu.DonGia | number}} ₫</span>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-3" style="padding-top: 10px;font-size: 20px;">Số lượng: </div>
                        <div class="col-xs-4" style="padding-top: 15px">
                            <div class="input-group">
                                <button (click)="changeSoLuong('giam')"><span class="fa fa-minus"></span></button>
                                <input type="number" [(ngModel)]="soLuong" style="width: 40px;">
                                <button (click)="changeSoLuong('tang')"><span class="fa fa-plus"></span></button>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <button (click)="addToCart(vattu)" style="background-color: #F57223;border: none" title="Thêm vào giỏ hàng" class="btn btn-primary">Thêm vào giỏ hàng</button>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <span style="font-size: 20px">Tồn:&nbsp;<span class="badge badge-light" style="color: #F57223 !important">{{vattu.SoTon}}</span> </span>
                        </div>
                    </div>
                    <div class="row" style="font-size: 20px;margin-left: 30%;color: #F57223;">
                        <ngb-rating [rate]="vattu.selectFavorite"></ngb-rating>
                    </div>
                    <br/>
                    <u style="font-size: 20px;">Giới thiệu sản phẩm:</u>
                    <br/>
                    <span [innerHTML]="vattu.MoTa"></span>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer> 
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>Sản phẩm liên quan</mat-card-title>
        <mat-card-content>
           <div class="row" style="text-align: center">
                <div style="display: block" class="col-md-3" *ngFor="let item of vattuRel">
                    <div class="text-center">
                        <a routerLink="/chi-tiet-hang-hoa/{{item.MaVatTu}}" title="{{item.TenVatTu}}"><img src="data:image/JPEG;base64,{{item.Avatar}}" style="padding-top:20px;max-height: 200px!important" alt="{{item.TenVatTu}}"></a>
                    </div>
                    <div class="row">
                        <span style="padding: 5px 30px 5px 30px">{{item.TenVatTu}}</span>
                    </div>
                </div>
           </div>
        </mat-card-content>
    </mat-card>
</div>
