<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">

<app-header></app-header>
<div style="margin-top: 40px;">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<div id="form-chat">
    <div id="live-chat">
		<header class="clearfix" style="height: 30px !important;" (click)="OpenFormChat($event)">
			<span class="chat-close"><span class="fa fa-angle-down"></span></span>
			<h4>{{title}} &nbsp;&nbsp;&nbsp; <span class="fa fa-circle fa-sm" *ngIf='CskhOnline' style="color:chartreuse;font-size: 0.7rem;"></span></h4>
			
			<span class="chat-message-counter" *ngIf="countMessage>0">{{countMessage}}</span>
		</header>
		<div class="chat">
			<div ngx-auto-scroll lock-y-offset="10" observe-attributes class="chat-history" (click)="updateSeenMessage()">
				<div class="container" *ngIf="!loginModel">
					<div class="row">
						<span>Quý khách chưa có thông tin vui lòng điền thông tin để nhận được trợ giúp của chúng tôi</span>
					</div>
					<div class="row">
						<span>Email : </span>
						<div class="chat-message-content clearfix"></div>
						<input type="text" class="form-control" placeholder="Nhập email hoặc số đt" [(ngModel)]="email"/>
					</div>
					<div class="row" >
						<span>Họ Tên : </span>
						<input type="text" class="form-control" placeholder="Vui lòng nhập họ tên" [(ngModel)]="name"/>
					</div>
				</div>
				<div class="chat-message clearfix" *ngFor="let item of lstYourMessage">
					<div *ngIf="item.SendBy!=='cskh'">
						<!-- <img src="../../../assets/user.jpg" alt="" width="32" height="32"> -->
						<div style="text-align: left;font-weight: bold">
								<span>Bạn</span>
							</div>
						<div class="chat-message-content clearfix">
							<div style="padding: 5px 5px 5px 5px">
								<p style="font-size:13px">{{item.ContentMessage}}</p>
							</div>
							<div style="text-align: right;padding-right: 15px;" >
								<span style="font-size:10px;font-style:italic">{{displayDate(item) | date:'dd-MM-yyyy HH:mm'}}</span>
							</div>
						</div> <!-- end chat-message-content -->
					</div>
					<div *ngIf="item.SendBy=='cskh'">
						<!-- <img src="../../../assets/user.jpg" alt="" width="32" height="32"> -->
						<div style="text-align: right;font-weight: bold">
							<span>Chăm sóc khách hàng</span>
						</div>
						<div class="chat-message-content-cskh clearfix">
							<div style="padding: 5px 5px 5px 5px">
								<p>{{item.ContentMessage}}</p>
							</div>
							<div style="text-align: right;padding-right: 15px;" >
									<span style="font-size:10px;font-style:italic">{{displayDate(item) | date:'dd-MM-yyyy HH:mm'}}</span>
								</div>
						</div> <!-- end chat-message-content -->
					</div>
				</div> <!-- end chat-message -->
			</div> <!-- end chat-history -->
            <p class="chat-feedback" *ngIf="cskhtyping">Chăm sóc khách hàng đang nhập…</p>
			<form>
				<fieldset>
                    <div class="row">
                        <input type="text" [(ngModel)]="message" [ngModelOptions]="{standalone: true}" (input)="onchange()" placeholder="Nhập tin nhắn …" autofocus>
					    <button class="btn btn-default" (click)="sendMessage()"><i class="fa fa-paper-plane"></i></button>
                    </div>
				</fieldset>
			</form>
		</div> <!-- end chat -->
	</div> <!-- end live-chat -->
</div>
