<div class="container">
    <div class="page-title">
        <h1>Liên hệ</h1>
    </div>
    <div class="page-body">
            <div class="topic-block">
        <div class="topic-block-body">
            <p><strong><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">VNXK - Bán Buôn Bán Lẻ - I ❤️ Viet Nam Shop </span></strong><br /><strong><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">☛ Số 8 Ngõ Phan Chu Trinh, Hoàn Kiếm, HN ( Ngõ ở số nhà 51 PCT) BUÔN LẺ SLL </span></strong><br /><strong><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">❤️: 0948994000 - 0916374000</span></strong></p>
    <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><a href="https://www.facebook.com/pg/vnxkbanbuonbanle123/">https://www.facebook.com/pg/vnxkbanbuonbanle123/</a></span></p>
        </div>
    </div>
</div>