<app-ngbd-carousel-config></app-ngbd-carousel-config>

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-lg-3">
            <mat-card>
                <div *ngFor="let item of lstSideBar">
                    <span style="font-size: 15px;font-weight: bold;">{{item.TenLoaiVatTu}}</span>
                    <hr/>
                    <ul>
                        <li *ngFor="let subItem of item.ListNhomVatTu">
                            <a routerLink="/loai-hang/{{subItem.MANHOMVATTU}}">{{subItem.TENNHOMVATTU}}</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <span style="font-size: 15px;font-weight: bold;">Sản phẩm vừa xem</span>
                    <hr/>
                </div>
            </mat-card>
        </div>
        <div class="col-lg-9">
            <app-content-home *ngIf="!isViewContent"></app-content-home>
            <app-category-details  *ngIf="isViewContent"></app-category-details>
        </div>
    </div>
</div>