<div class="footer-above">
  <div class="container" style="padding-top: 20px;">
    <div class="row">
      <div class="col-md-3" style="text-align: left">
        <span class="title-footer">Thông tin</span>
        <hr/>
        <a routerLink="/gioi-thieu">Giới thiệu</a><br/>
        <a routerLink="/giao-hang">Giao hàng</a><br/>
        <a routerLink="/lien-he">Liên hệ</a>
      </div>
      <div class="col-md-3" style="text-align: left">
          <span class="title-footer">Chăm sóc khách hàng</span>
          <hr/>
          <a href="#">Sản phẩm vừa xem</a><br/>
          <a href="#">Khuyến mãi</a><br/>
          <a href="#">Blog</a><br/>
          <a href="#">Sản phẩm mới</a><br/>
        </div>
      <div class="col-md-3" style="text-align: left">
        <span class="title-footer">Tài khoản của tôi</span>
        <hr/>
        <a href="#">Tài khoản của tôi</a><br/>
        <a href="#">Đơn đặt hàng</a><br/>
        <a href="#">Giỏ hàng</a><br/>
        <a href="#">Sản phẩm yêu thích</a><br/>
        <a href="#">Đăng ký nhà phân phối</a>
      </div>
      <div class="col-md-3" style="text-align: left">
        <span class="title-footer">Kết nối</span>
        <hr/>
        <button (click)="redirectFB()" mat-mini-fab style="background-color: royalblue" >
          <mat-icon aria-label="Liên kết facebook"><i class="fa fa-facebook-f"></i></mat-icon>
        </button>
        &nbsp;
        <button mat-mini-fab>
          <mat-icon aria-label="Liên kết facebook"><i class="fa fa-google-plus"></i></mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="footer">
      <hr/>
      <span style="margin-right: 15px;margin-bottom: 20px; "> © 2018 - Bản quyền thuộc về CÔNG TY TNHH GIẢI PHÁP CÔNG NGHỆ B&T VIỆT NAM</span>
    </div>
</div>